{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "API" %}{% endblock %}
{%block extra_title %}{% trans "API" %}{% endblock %}


{% block content %}


<section class="choose-area">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 order-0 order-lg-2">
<div class="choose-img-wrap">
<img alt="" data-parallax='{"x" : 50 }' src="{% static 'assets/img/images/graph-salvia-a.png'%}"/>
<img alt="" class="alltuchtopdown" src="{% static 'assets/img/images/choose_img_shape.png'%}"/>
</div>
</div>
<div class="col-lg-6">
<div class="choose-content">
<div class="section-title white-title mb-30">
<span style="color: chocolate; font-weight: 700;">---- NATROPI TRADING SOFTWARE</span>
<h4 class="title">Natropi offers multi-asset trading functionality and is seamlessly integrated and easily configurable to fit into pre-existing environment. Leverage years of trading technology experience and choose Natropi CFDs Stock trading API to launch new online investing products or enhance existing offerings.</h4>
</div>
</div>
</div>
</div>
</div>
<div class="choose-shape-wrap">
<img alt="" data-aos="fade-right" data-aos-delay="400" src="{% static 'assets/img/images/choose_shape01.png'%}"/>
<img alt="" data-aos="fade-left" data-aos-delay="400" src="{% static 'assets/img/images/choose_shape02.png'%}"/>
</div>
</section>
<!-- choose-area-end -->
<!-- testimonial-area -->
<section class="services__area-two">

<div class="row justify-content-center gutter-24">
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/icon-a.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">Digital Wealth Management Firms
                            </a></h2>
<p>
                                In a world of digital transformation financial industry has been lagging behind for years. It is rapidly changing now – new ways to invest and improve financial habits pop up every other day. Natropi enables digital wealth management platforms to connect to capital markets, provide live trading and market data through our Trading API. Build digital advisor and real-time trading applications with Natropi Trading API. Shortcut the route to market and streamline business operations and tech.</p>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/icon-b.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">WHAT IS A STOCK TRADING API?</a></h2>
<p>Enables live stock and options trading through an API Automates trading lifecycle Monitors and manages trading activity in real time Maintains positions Downloads SOD (start-of-day) files from the clearing firm/custodian of accounts Automated compliance reports Receives orders and routes them to the appropriate execution venue instantly Tracks the progress of each order through its lifecycle Calculates buying power, margin requirements and account balances of each account in real time Manages trade allocations Sends Drop Copies to all appropriate receivers Uploads EOD (end-of-day) trade files to the clearing firm and reports to regulators.</p>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/icon-c.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">Education Organizations and Virtual Platforms</a></h2>
<p>Whether you teach general investing and healthy financial habits or a specific strategy to beat the market, you need tools to practice theories and test ideas. Stock Trading API is a perfect solution to provide both simulated and live trading capabilities. Students get access to a safe, risk-free simulated trading environment. Once ready for live trading, take advantage of trading through many broker partners that run on Natropi Trader Platform. Remove the burden of market connectivity tech and compliance by using modern trading API.</p>
</div>
</div>
</div>
</div>
<div class="services__shape-wrap">
<img alt="" data-aos="fade-right" data-aos-delay="400" src="{% static 'assets/img/images/h2_services_shape01.png'%}"/>
<img alt="" data-aos="fade-left" data-aos-delay="400" src="{% static 'assets/img/images/h2_services_shape02.png'%}"/>
</div>
</section>
<section class="">
<div class="row justify-content-center gutter-24" style="padding: 20px;">
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/026-donation-2.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">team
                                Easy integration, great documentation and tech support.
                            </a></h2>
<a class="nav-link btn btn-sm btn-outline menu-link" href="{% url 'login'%}" title="Sign up"><b>Make A Deposit</b></a>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/003-idea-1.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">Trade Allocations, Fractional Shares Support.
                            </a></h2>
<a class="nav-link btn btn-sm btn-outline menu-link" href="{% url 'login'%}" title="Sign up"><b>Make A Deposit</b></a>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/019-project.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">
                                Customizable Trading API with multiple rule engines.
                            </a></h2>
<a class="nav-link btn btn-sm btn-outline menu-link" href="{% url 'login'%}" title="Sign up"><b>Make A Deposit</b></a>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/012-worldwide.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">Our API powers leading online brokerages in the U.S, Uk, Canada, UAE and 66+ Countries.
                            </a></h2>
<a class="nav-link btn btn-sm btn-outline menu-link" href="{% url 'login'%}" title="Sign up"><b>Make A Deposit</b></a>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/003-idea-1.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">Natropi Trading API powers our award-winning Natropi Trader web platform.
                            </a></h2>
<a class="nav-link btn btn-sm btn-outline menu-link" href="{% url 'login'%}" title="Sign up"><b>Make A Deposit</b></a>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/012-worldwide.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">Virtual Exchange and simulated (paper) trading for educational, demo and testing purposes.
                            </a></h2>
<a class="nav-link btn btn-sm btn-outline menu-link" href="{% url 'login'%}" title="Sign up"><b>Make A Deposit</b></a>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/019-project.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">Integrated Back Office application to manage users, accounts, orders, and execution routes.</a></h2>
<a class="nav-link btn btn-sm btn-outline menu-link" href="{% url 'login'%}" title="Sign up"><b>Make A Deposit</b></a>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6">
<div class="services__item-two">
<div class="services__icon-two">
<img src="{% static 'assets/img/images/012-worldwide.png'%}"/>
</div>
<div class="services__content-two">
<h2 class="title"><a href="{% url 'about_3'%}">Pick a pre-integrated connection or establish a new one with the help of Natropi Support Team or using self-service model.</a></h2>
<a class="nav-link btn btn-sm btn-outline menu-link" href="{% url 'login'%}" title="Sign up"><b>Make A Deposit</b></a>
</div>
</div>
</div>
</div>
<div class="services__shape-wrap">
<img alt="" data-aos="fade-right" data-aos-delay="400" src="{% static 'assets/img/images/h2_services_shape01.png'%}"/>
<img alt="" data-aos="fade-left" data-aos-delay="400" src="{% static 'assets/img/images/h2_services_shape02.png'%}"/>
</div>
</section>
{% endblock %}