{% extends 'user/main.html' %} {% load static %} {% block content %}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Deposit Form</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'deposit' %}">Deposit History</a></li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form method="post" action="{% url 'deposit_fund' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row justify-content-md-center">
                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">

                                    <div class="form-group">
                                        <label>Amount ($):</label>
                                        <input id="amount" type="text" class="form-control {% if form.amount.errors %}is-invalid{% endif %}" name="amount" value="{{ form.amount.value }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Method:</label>
                                        <select onchange="val()" class="form-control" id="method" name="method">
                                            <option selected value="" disabled>-Choose Method-</option>
                                            {% for account in numacc %}
                                                <option value="{{ account.method01 }}">{{ account.method01 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div id="addr" style="display: none;" class="form-group">
                                        <label>Wallet Address:</label>
                                        <input id="address" onclick="CopyFunction()" type="text" class="form-control {% if form.address.errors %}is-invalid{% endif %}" name="address" required>
                                    </div>
                                    <div id="hash" style="display: none;" class="form-group">
                                        <label>Transaction Hash:</label>
                                        <input id="trans_hash" type="text" class="form-control {% if form.trans_hash.errors %}is-invalid{% endif %}" name="trans_hash">
                                    </div>
                                </div>
                            </div>
                            <input class="btn btn-primary" type="submit" value="COMPLETE DEPOSIT" name="ent">
                        </div>
                        {% for account in numacc1 %}
                            <input id="{{ account.method01 }}" name="{{ account.method01 }}" type="hidden" value="{{ account.address02 }}">
                        {% endfor %}
                    </div>
                </form>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <script>
        function val() {
            d = document.getElementById("method").value;
            document.getElementById("address").value = document.getElementById(d).value;
            document.getElementById("amount").disabled = true;
            document.getElementById("addr").style.display = "block";
            document.getElementById("hash").style.display = "block";
            alert(d + " to pay Amount: $" + document.getElementById("amount").value + " Click on wallet address to Copy and Continue.");
            document.getElementById("amount").disabled = false;
        }

        function val1() {
            document.getElementById("amount").disabled = false;
        }

        function CopyFunction() {
            var copyText = document.getElementById("address");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
            alert("Address Copied: " + copyText.value);
        }
    </script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock content %}
