{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Natropi</title>

  <style>
    .nav-link {
      color: #33c92d;
    }
    .brand-link {
      color: #33c92d;
    }

    .user-panel .info .d-block {
      color: #33c92d
    }

    ol li a {
      color: #33c92d;
    }

    nav {
        background-color: #181824; /* Set the background color of the whole page */
    }

    .nav-icon {
        color: #33c92d; /* Set the color for elements with the nav-icon class */
    }

    .nav-item p {
        color: #8e94a9; /* Set the color for <p> tags inside elements with the nav-item class */
    }

    aside {
      background-color: #181824;
    }

    .logout {
      color: #33c92d;
    }

    .content-header h1 {
      color: #8e94a9 !important;
    }

    section .container-fluid .info-box {
      background-color: #181824;
    }
  
    .info-box-content {
      color:#8e94a9;
    }

    section .container-fluid .card {
      background-color: #181824;
    }

    section .container-fluid .card .card-title {
      color: #8e94a9;
    }

    table thead tr th{
      color: #8e94a9;
    }

    .main-footer {
      background-color: #181824;
    }

    .list-group li {
      color: #8e94a9;
      background-color: #181824;
    }

    .list-group li input {
      background-color: #111118;
    }

  
</style>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'user/assets/plugins/fontawesome-free/css/all.min.css'%}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'user/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css'%}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'user/assets/dist/css/adminlte.min.css'%}">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed" style="background-color: #181824">
<div class="wrapper">


  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/dashboard" class="nav-link">Home</a>
      </li>
      
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

     
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->



<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'index' %}" class="brand-link">
    <img src="{% static 'user/assets/dist/img/logo.jpg'%}" alt="Natropi Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Natropi</span>
  </a>
<!-- Sidebar -->
  <div class="sidebar os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition os-host-overflow os-host-overflow-y"><div class="os-resize-observer-host observed"><div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 109px;"></div><div class="os-padding"><div class="os-viewport os-viewport-native-scrollbars-invisible os-viewport-native-scrollbars-overlaid" style="overflow-y: scroll;"><div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% if user.image %}
              <img class="profile-user-img img-fluid img-circle" src="{{ user.image.url }}" alt="User profile picture">
          {% else %}
    <!-- Provide a default placeholder image if no image is available -->
              <img class="profile-user-img img-fluid img-circle" src="{% static 'assets/img/logo/logo.jpg' %}" alt="User profile picture">
          {% endif %}
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
        </div>
      </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>
              Profile
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'user_referrals' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>
              Referral
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-hands-helping"></i>
            <p>
              NP
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/examples/portfolio.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>NP Portfolio</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/examples/strategy.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>NP Strategy</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/examples/auto_copy.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Auto Copy</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/examples/trade_table.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>NP Trade</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-wallet"></i>
            <p>
              Wallet
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/deposit" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Deposit</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'withdraw_view' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Withdraw</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'transfers' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Wallet Transfer</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'transfer_success' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>P2P Transfer</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/transactions" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Transaction</p>
              </a>
            </li>
          </ul>
        </li>
                  <li class="nav-header">Exit</li>
        <li class="nav-item">
          <a href="https://natropi.com/logout" class="nav-link" onclick="event.preventDefault();
                      document.getElementById('logout-form').submit();">
            <i class="nav-icon far fa-circle "></i>
            <p class="text">LogOut</p>
          </a>
          <form id="logout-form" action="https://natropi.com/logout" method="POST" class="d-none">
                                      <input type="hidden" name="_token" value="PTnuUXt2OYaN9gXNKivhUofv3AAhzEdpTNgOr8KO">                                    </form>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 43.9474%; transform: translate(0px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
  <!-- /.sidebar -->
</aside>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% block content %} {% endblock %}



  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer" style="background-color: #181824;">
    <strong>Copyright &copy; 2014-2021 <a href="/" style="color: #33c92d;">Natropi</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 2.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static 'user/assets/plugins/jquery/jquery.min.js'%}"></script>
<!-- Bootstrap -->
<script src="{% static 'user/assets/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'user/assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js'%}"></script>
<!-- AdminLTE App -->
<script src="{% static 'user/assets/dist/js/adminlte.js'%}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{% static 'user/assets/plugins/jquery-mousewheel/jquery.mousewheel.js'%}"></script>
<script src="{% static 'user/assets/plugins/raphael/raphael.min.js'%}"></script>
<script src="{% static 'user/assets/plugins/jquery-mapael/jquery.mapael.min.js'%}"></script>
<script src="{% static 'user/assets/plugins/jquery-mapael/maps/usa_states.min.js'%}"></script>
<!-- ChartJS -->
<script src="{% static 'user/assets/plugins/chart.js/Chart.min.js'%}"></script>

<!-- AdminLTE for demo purposes -->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'user/assets/dist/js/pages/dashboard2.js'%}"></script>
</body>
</html>
