{% extends 'user/main.html' %} {% load static %} {% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 167px; background-color: #111118;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/user">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h4 style="text-align:center;"></h4>
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img alt="User profile picture" class="profile-user-img img-fluid img-circle"
                                        src="{{ user.profile.image.url }}" />
                                </div>
                                <input id="image1" name="image1" type="hidden" value="" />
                                <h3 class="profile-username text-center" style="color: #8e94a9;">{{ user.username }}</h3>
                                <p class="text-muted text-center">{{ user.email }}</p>
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <label for=""><b>Select Image</b></label>
                                        {{ profile_form.image }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="first_name">First Name</label>
                                                {{ user_form.first_name }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="last_name">Last Name</label>
                                                {{ user_form.last_name }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="phone">Phone</label>
                                                {{ user_form.phone }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="dob">Date of Birth</label>
                                                {{ profile_form.dob }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="address1">Address 1</label>
                                                {{ profile_form.address1 }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="address2">Address 2</label>
                                                {{ profile_form.address2 }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="country">Country</label>
                                                {{ user_form.country }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="state">State</label>
                                                {{ profile_form.state }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="city">City</label>
                                                {{ profile_form.city }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="bit_wallet">Bitcoin Wallet</label>
                                                {{ profile_form.bit_wallet }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="ussdc_wallet">USSDC Wallet</label>
                                                {{ profile_form.ussdc_wallet }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="paypal_address">Paypal Address</label>
                                                {{ profile_form.paypal_address }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="bank_name">Bank Name</label>
                                                {{ profile_form.bank_name }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="account_no">Account No:</label>
                                                {{ profile_form.account_no }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="bank_address">Bank Address</label>
                                                {{ profile_form.bank_address }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="sort_code">Sort Code</label>
                                                {{ profile_form.sort_code }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <label for="old_password">Old Password</label>
                                        {{ password_form.old_password }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="new_password1">New Password</label>
                                        {{ password_form.new_password1 }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="new_password2">Confirm New Password</label>
                                        {{ password_form.new_password2 }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input class="btn btn-primary" name="login" type="submit" value="Update" />
                </div>
            </form>
        </div>
    </section>
    
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->
{% endblock content %}