{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Natropi</title>
<style>
    .nav-link {
      color: #33c92d;
    }
    .brand-link {
      color: #33c92d;
    }

    .user-panel .info .d-block {
      color: #33c92d
    }

    ol li a {
      color: #33c92d;
    }

    nav {
        background-color: #181824; /* Set the background color of the whole page */
    }

    .nav-icon {
        color: #33c92d; /* Set the color for elements with the nav-icon class */
    }

    .nav-item p {
        color: #8e94a9; /* Set the color for <p> tags inside elements with the nav-item class */
    }

    aside {
      background-color: #181824;
    }

    .logout {
      color: #33c92d;
    }

    .content-header h1 {
      color: #8e94a9 !important;
    }

    section .container-fluid .info-box {
      background-color: #181824;
    }
  
    .info-box-content {
      color:#8e94a9;
    }

    section .container-fluid .card {
      background-color: #181824;
    }

    section .container-fluid .card .card-title {
      color: #8e94a9;
    }

    table thead tr th{
      color: #8e94a9;
    }

    .main-footer {
      background-color: #181824;
    }

    .list-group li {
      color: #8e94a9;
      background-color: #181824;
    }

    .list-group li input {
      background-color: #111118;
    }

    /* .list-group li:first-child {
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #111118;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      box-shadow: inset 0 0 0 transparent;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    } */
  
</style>
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback" rel="stylesheet"/>
<!-- Font Awesome -->
<link href="../../plugins/fontawesome-free/css/all.min.css" rel="stylesheet"/>
<!-- Theme style -->
<link href="../../dist/css/adminlte.min.css" rel="stylesheet"/>
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
<!-- Navbar -->
<nav class="main-header navbar navbar-expand">
<!-- Left navbar links -->
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
</li>
<li class="nav-item d-none d-sm-inline-block">
<a class="nav-link" href="{% url '../../index2'%}">Home</a>
</li>
<li class="nav-item d-none d-sm-inline-block">
<a class="nav-link" href="#">Contact</a>
</li>
</ul>
<!-- Right navbar links -->
<ul class="navbar-nav ml-auto">
<!-- Navbar Search -->
<li class="nav-item">
<a class="nav-link" data-widget="navbar-search" href="#" role="button">
<i class="fas fa-search"></i>
</a>
<div class="navbar-search-block">
<form class="form-inline">
<div class="input-group input-group-sm">
<input aria-label="Search" class="form-control form-control-navbar" placeholder="Search" type="search"/>
<div class="input-group-append">
<button class="btn btn-navbar" type="submit">
<i class="fas fa-search"></i>
</button>
<button class="btn btn-navbar" data-widget="navbar-search" type="button">
<i class="fas fa-times"></i>
</button>
</div>
</div>
</form>
</div>
</li>
<!-- Notifications Dropdown Menu -->
<li class="nav-item dropdown">
<a class="nav-link" data-toggle="dropdown" href="#">
<i class="far fa-bell"></i>
<span class="badge badge-warning navbar-badge">15</span>
</a>
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
<span class="dropdown-item dropdown-header">15 Notifications</span>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">
<i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">
<i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">
<i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item dropdown-footer" href="#">See All Notifications</a>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-widget="fullscreen" href="#" role="button">
<i class="fas fa-expand-arrows-alt"></i>
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-slide="true" data-widget="control-sidebar" href="#" role="button">
<i class="fas fa-th-large"></i>
</a>
</li>
</ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4">
<!-- Brand Logo -->
<a class="brand-link" href="{% url '../../index2'%}">
<img alt="Natropi Logo" class="brand-image img-circle elevation-3" src="{% static '../../dist/img/logo.jpg'%}" style="opacity: .8"/>
<span class="brand-text font-weight-light">Natropi</span>
</a>
<!-- Sidebar -->
<div class="sidebar os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition os-host-overflow os-host-overflow-y"><div class="os-resize-observer-host observed"><div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px;"></div><div class="os-padding"><div class="os-viewport os-viewport-native-scrollbars-invisible os-viewport-native-scrollbars-overlaid" style="overflow-y: scroll;"><div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
<div class="image">
<img alt="User Image" class="img-circle elevation-2" src="{% static '../../dist/img/user2-160x160.jpg'%}"/>
</div>
<div class="info">
<a class="d-block" href="#">Alexander Pierce</a>
</div>
</div>
<!-- Sidebar Menu -->
<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
<li class="nav-item menu-open">
<a class="nav-link" href="#">
<i class="nav-icon fas fa-tachometer-alt"></i>
<p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
</p>
</a>
<ul class="nav nav-treeview">
<li class="nav-item">
<a class="nav-link" href="{% url '../../index2'%}">
<i class="far fa-circle nav-icon"></i>
<p>Dashboard</p>
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url '../examples/profile'%}">
<i class="far fa-circle nav-icon"></i>
<p>
                Profile
              </p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">
<i class="nav-icon fas fa-hands-helping"></i>
<p>
                NP
                <i class="fas fa-angle-left right"></i>
</p>
</a>
<ul class="nav nav-treeview">
<li class="nav-item">
<a class="nav-link" href="{% url '../examples/portfolio'%}">
<i class="far fa-circle nav-icon"></i>
<p>NP Portfolio</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url '../examples/strategy'%}">
<i class="far fa-circle nav-icon"></i>
<p>NP Strategy</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">
<i class="far fa-circle nav-icon"></i>
<p>Auto Copy</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url '../examples/trade_table'%}">
<i class="far fa-circle nav-icon"></i>
<p>NP Trade</p>
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a class="nav-link" href="#">
<i class="nav-icon fas fa-wallet"></i>
<p>
                Wallet
                <i class="right fas fa-angle-left"></i>
</p>
</a>
<ul class="nav nav-treeview">
<li class="nav-item">
<a class="nav-link" href="{% url '../examples/deposit'%}">
<i class="far fa-circle nav-icon"></i>
<p>Deposit</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url '../examples/withdraw'%}">
<i class="far fa-circle nav-icon"></i>
<p> Withdraw</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url '../examples/transfer'%}">
<i class="far fa-circle nav-icon"></i>
<p>Transfer</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url '../examples/transaction'%}">
<i class="far fa-circle nav-icon"></i>
<p>Transaction</p>
</a>
</li>
</ul>
</li>
<li class="nav-header">Exit</li>
<li class="nav-item">
<a class="nav-link" href="https://natropi.com/logout" onclick="event.preventDefault();
                        document.getElementById('logout-form').submit();">
<i class="nav-icon far fa-circle"></i>
<p class="text">LogOut</p>
</a>
<form action="https://natropi.com/logout" class="d-none" id="logout-form" method="POST">
<input name="_token" type="hidden" value="PTnuUXt2OYaN9gXNKivhUofv3AAhzEdpTNgOr8KO"/> </form>
</li>
</ul>
</nav>
<!-- /.sidebar-menu -->
</div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 43.9474%; transform: translate(0px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
<!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 353px; background-color: #111118;">
<!-- Content Header (Page header) -->
<section class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1>Auto copy</h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-right">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active">Auto copy</li>
</ol>
</div>
</div>
</div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-12">
<div class="card" style="color: #8e94a9;">
<div class="card-header">
</div>
<!-- /.card-header -->
<div class="card-body">
<div class="row">
<div class="col-md-8">
<div class="tab-content p-4 border rounded" id="v-pills-tabContent">
<img alt="" height="auto" src="{% static '../images/portfolio/image/1638025630.jpeg'%}" width="100%"/>
</div>
</div>
<div class="col-md-4">
<div class="tab-content p-4 border rounded" id="v-pills-tabContent">
<div class="mb-3 text-xl">
                          Soap and shampoo
                        </div>
<div>
<a class="btn btn-success btn-block" href="{% url '../examples/soap_invest'%}">
                            Invest in this portfolio
                          </a>
</div>
<div class="mt-3 d-flex justify-content-between w-100">
<p> Min Investment: </p> <p> $2000 </p>
</div>
<hr class="" style="border-color:white;"/>
<div class="mt-2 d-flex justify-content-between w-100">
<p> Investment </p> <p> </p>
</div>
<div class="mt-2 d-flex justify-content-between w-100">
<p> Horizon </p> <p> 4 months </p>
</div>
<div class="mt-2 d-flex justify-content-between w-100">
<p> Short Term </p> <p style="color:green"> 39.88% </p>
</div>
<h2>Portfolio Assets</h2>
<div class="mt-2 d-flex justify-content-between w-100">
<p> Stock </p> <p> Weight </p> <p> Return </p>
</div>
<div class="mt-2 d-flex justify-content-between w-100">
<p> CLOROX </p> <p> 50kg </p> <p style="color:green"> 19.47% </p>
</div>
<div class="mt-2 d-flex justify-content-between w-100">
<p> CODEXIS </p> <p> 40kg </p> <p style="color:green"> 9.88% </p>
</div>
<div class="mt-2 d-flex justify-content-between w-100">
<p> KAO CORP </p> <p> 35kg </p> <p style="color:green"> 10.53% </p>
</div>
<div class="mt-2 d-flex justify-content-between w-100">
<p> </p> <p> </p> <p style="color:green"> </p>
</div>
</div>
</div>
</div>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer" style="background-color: #181824;">
<div class="float-right d-none d-sm-block">
<b>Version</b> 3.2.0
    </div>
<strong>Copyright © 2014-2021 <a href="https://adminlte.io" style="color: #33c92d;">Natropi</a>.</strong> All rights reserved.
  </footer>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</body>
</html>