{% extends 'user/main.html' %}
{% load static %}
{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 97px; background-color: #111118;">
<!-- Content Header (Page header) -->
<section class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1>Transfer Tables</h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-right">
<li class="breadcrumb-item"><a href="/user">Home</a></li>
<li class="breadcrumb-item active">Transfer Tables</li>
</ol>
</div>
</div>
</div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content" style="color: #8e94a9;">
  <div class="container-fluid" style="display: flex; justify-content: center;">
      <form action="{% url 'transfers' %}" enctype="multipart/form-data" method="post" style="width: 100%; max-width: 500px;">
          {% csrf_token %}
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header" style="background-color: #33c92d;">
                      <h4 style="text-align:center; color:red">{{ errors }}</h4>
                  </div>
                  <div class="card-body">
                      <div class="form-group">
                          <label>From:</label>
                          <select class="form-control" id="from_wallet" name="from_wallet" required>
                            <option disabled="" selected="" value=""> - Choose Wallet - </option>
                            <option value="main">Main Balance (${{ user.main }})</option>
                            <option value="portfolio">Portfolio Balance (${{ user.portfolio }})</option>
                            <option value="strategy">Strategy Balance (${{ user.strategy }})</option>
                            <option value="trade">Trade Balance (${{ user.trade }})</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label>Amount ($):</label>
                          <input autocomplete="amount" class="form-control" id="amount" name="amount" type="text" required/>
                      </div>
                      <div class="form-group">
                          <label>To:</label>
                          <select class="form-control" id="to_wallet" name="to_wallet" required>
                            <option disabled="" selected="" value=""> - Choose Wallet - </option>
                            <option value="main">Main Balance (${{ user.main }})</option>
                            <option value="portfolio">Portfolio Balance (${{ user.portfolio }})</option>
                            <option value="strategy">Strategy Balance (${{ user.strategy }})</option>
                            <option value="trade">Trade Balance (${{ user.trade }})</option>
                          </select>
                      </div>
                  </div>
              </div>
              <input class="btn btn-success btn-block" name="ent" type="submit" value="TRANSFER"/>
          </div>
      </form>
  </div>
</section>

<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}