{% extends 'user/main.html' %}
{% load static %}
{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 97px; background-color: #111118;">
<!-- Content Header (Page header) -->
<section class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1>Withdraw Form</h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-right">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active"><a href="">withdraw History</a></li>
</ol>
</div>
</div>
</div><!-- /.container-fluid -->
</section>
<!-- Main content -->

<section class="content" style="color: #8e94a9;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                
                <form action="{% url 'withdraw_view' %}" method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header" style="background-color: #33c92d;">
                            <h3 class="card-title"></h3>
                            <h4 style="text-align:center; color:red"></h4>
                        </div>
                        
                        <div class="card-body">
                            {% if errors %}
                            <ul class="messages">
                                {% for key, message in errors.items %}
                                    <li style='color: white;'>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                            <div class="form-group">
                                <label>From:</label>
                                <select class="form-control" id="wallet" name="wallet">
                                    <option disabled="" selected="" value=""> - Choose Wallet - </option>
                                    <option value="main">Main Balance (${{ user.main }})</option>
                                    <option value="portfolio">Portfolio Balance (${{ user.portfolio }})</option>
                                    <option value="strategy">Strategy Balance (${{ user.strategy }})</option>
                                    <option value="trade">Trade Balance (${{ user.trade }})</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Amount ($):</label>
                                <input autocomplete="amount" class="form-control" id="amount" name="amount" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="method">Method:</label>
                                <select class="form-control" id="method" name="method">
                                    <option value="bit_wallet">Bitcoin Wallet</option>
                                    <option value="ussdc_wallet">USSD Wallet</option>
                                    <option value="bank">Bank Wired</option>
                                </select>
                            </div>
                        </div>
                        <input class="btn btn-success btn-block" name="ent" type="submit" value="WITHDRAW"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- /.content -->
</div>

{% endblock %}