<!-- custom_password_reset_email.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello from Skylink</p>

    <p>You're receiving this e-mail because you or someone else has requested a password reset for your user account. It can be safely ignored if you did not request a password reset.</p>

    <p>Click the link below to reset your password:</p>

    <p><a href="{{ password_reset_link }}">Reset Password</a></p>

    <p>In case you forgot, your username is {{ username }}.</p>

    <p>Thank you for using Your Skylink!</p>
</body>
</html>
