{% extends 'user/main.html' %}
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6" style="color:#8e94a9">
          <h1>Portfolios</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/user">Home</a></li>
            <li class="breadcrumb-item active"><a href="/port_add">All Port</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid" style="color:#8e94a9">
      <div class="row">
        <div class="col-md-2" style="color:#8e94a9">
          <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
            {% for type in types %}
            <a aria-controls="v-pills-{{ type }}" {% if forloop.first %} aria-selected="true" class="nav-link active" {%
              else %} a {% endif %} aria-selected="false" class="nav-link" data-toggle="pill" href="#v-pills-{{ type }}"
              id="v-pills-{{ type }}-tab" role="tab">
              {{ type }}

            </a>
            {% endfor %}
          </div>

        </div>
        <div class="col-md-10">
          <div class="tab-content p-4 border rounded" id="v-pills-tabContent">
            {% for type, items in typeitem.items %}
            <!-- First Division Conservative -->

            <div aria-labelledby="v-pills-{{ type }}-tab" {% if forloop.first %} class="tab-pane fade show active" {%
              else %} n {% endif %} class="tab-pane fade" id="v-pills-{{ type }}" role="tabpanel">
              {% for item in items %}

              {% if item.term|lower == 'short' %}
              <h2>Short Term</h2>
              <div class="row">
                <div class="col-md-4">

                  <div class="border">
                    <div>
                      <img alt="" height="auto" width="100%"
                        src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'assets/default-image.jpg' %}{% endif %}">
                    </div>
                    <div class="px-4 py-2 font-bold">
                      {{ item.header }}
                    </div>
                    <div class="flex items-center justify-between px-4 pb-4">
                      <a class="px-4 py-1 text-sm border rounded hover:bg-blue-600 hover:text-white"
                        href="{% url 'portfolio_view' item.id %}" style="color:green">
                        View
                      </a>
                      &nbsp; &nbsp; &nbsp;
                      <h7 style="color:green">{{ item.short_term }}%</h7>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if item.term|lower == 'middle' %}
              <h2>Middle Term</h2>
              <div class="row">
                <div class="col-md-4">
                  <!-- -->
                  <div class="border">
                    <div>
                      <img alt="" height="auto" src="{{ item.image.url }}" width="100%" />
                    </div>
                    <div class="px-4 py-2 font-bold">
                      {{ item.header }}
                    </div>
                    <div class="flex items-center justify-between px-4 pb-4">
                      <a class="px-4 py-1 text-sm border rounded hover:bg-blue-600 hover:text-white"
                        href="{% url 'portfolio_view' item.id %}" style="color:green">
                        View
                      </a>
                           
                      <h7 style="color:green">{{ item.short_term }}%</h7>
                    </div>
                  </div>
                  <!-- -->
                </div>
              </div>
              {% endif %}
              {% if item.term|lower == 'long' %}
              <h2>Long Term</h2>
              <div class="row">
                <div class="col-md-4">
                  <!-- -->
                  <div class="border">
                    <div>
                      <img alt="" height="auto" src="{{ item.image.url }}" width="100%" />
                    </div>
                    <div class="px-4 py-2 font-bold">
                      {{ item.header }}
                    </div>
                    <div class="flex items-center justify-between px-4 pb-4">
                      <a class="px-4 py-1 text-sm border rounded hover:bg-blue-600 hover:text-white"
                        href="{% url 'portfolio_view' item.id %}" style="color:green">
                        View
                      </a>
                           
                      <h7 style="color:green">{{ item.short_term }}%</h7>
                    </div>
                  </div>
                  <!-- -->
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
    <!-- /.content-wrapper -->
  </section>
  <!-- /.content -->
</div>
<script>
  $(function () {
    bsCustomFileInput.init();
  });
</script>
<!-- /.content-wrapper -->
<!-- /.content-wrapper -->
{% endblock content %}